.card {
    width: 20rem;
    height: 24rem;
    margin: 0 auto;
    display: block;
}

.card-img-top {
    max-height: 12rem;
    width: 60%;
}

img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}